.pic{
    height: 200px;
    width: 150px;
}

.entire-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    height: 200px;
    width: 150px;
    border: 4px black solid;   
    
}